footer {
    color: #39616E;
    opacity: 1;
    width: 100%;
    height:325px;
    text-align: center;
}

a:link{
    color: #F8FAFD;
}
a:visited{
    color:rgb(132, 0, 255);
}
a:hover{
    text-decoration: underline;
}
h6{
    color:#F8FAFD;
}